body {
	font-family:arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

#notes, #general {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 1em;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

#general .texte{
	padding:2em;
}

.bulletins, .e_t{
	display: flex;
	flex-direction: column;
	margin: 0.5em 0;
	padding: 1em 2em;
	justify-content: space-evenly;
	border-radius: 1em;
	border-radius: 57px;
}

.bulletins {
	border-radius: 25px;
	backdrop-filter: blur(14px);
	background-color: rgba(255, 255, 255, 0.2);
}

.e_t {
	margin-top: 35px;
	border-radius: 25px;
	background-color: rgba(26, 206, 194, 1);
	backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
}


#premiere, #terminale  {
	margin: 0 4em;
	
	padding:0 2em;
	border-radius:2em;
	border-radius: 5px;
    border-radius: 57px;
	border-radius: 48px;
	border-radius: 48px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 47px;
	box-shadow:  -7px -7px 34px #565656,
             7px 7px 34px #767676;
	text-align: center;
}

input {
	margin:0.5em;
	width:5em;
}

button {
	margin:0.5em;
	padding:0.5em;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background-color: #fff;
	color: rgb(120,0,0);
	border-radius: 0.5em;
}

button:hover{
	color: #fff;
	background-color: rgb(120,0,0);
}