body{
    font-family:arial, sans-serif;
	display: flex;
	flex-direction: column;
    background: rgb(238,174,190);
background: radial-gradient(circle, rgba(238,174,190,1) 0%, rgba(148,168,233,1) 100%);

}
h1{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 42%, rgba(9,9,121,1) 100%);
    border-radius: 10px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
p{
    background: rgb(148,168,233);
background: radial-gradient(circle, rgba(148,168,233,1) 0%, rgba(238,174,190,1) 0%);
border-radius: 10px;
font-size: larger;
}