body{
    background-color:#e0cdbe;
}
header{
    background-color: white;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
#box-general{
    background-color: #e0cdbe;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}
#box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    
}

#box2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;

}


#body-g{
    width: 100%;
    padding: 1.25px;
    padding-left:115px;
    margin-right: 20px;
}
#nom{
    width: 100%;
    height: 100px;
    padding: 1.25px;
    padding-left:115px;
    margin-right: 20px;
}
img{
    width:200.75;
    height: 224.5;
    border-radius: 20px;
    align-items: left;
}
h3{
    font-family:'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
#nom-g{
    background-color:#e0cdbe;
    width: 19cm;
    text-align: center;

}
#langue{
    text-align: left;
    width: 17cm;
}
#button{
    margin: 10px;
}
@font-face {
	font-family: 'Norwester';
	src: url("norwester.regular.otf") format(".otf");
}
@font-face {
	font-family: 'Roboto';
	src: url("Bacalculator-main-1\Bacalculator-main\CV gabriel\roboto") format(".ttf");
}

